@page
@model ClientWeb.Pages.Keyword.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>FileKeywordDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FileKeywordDTO.FIleKeywordId" />
            <div class="form-group">
                <label asp-for="FileKeywordDTO.KeywordId" class="control-label"></label>
                <select asp-for="FileKeywordDTO.KeywordId" class="form-control" asp-items="ViewBag.KeywordId"></select>
                <span asp-validation-for="FileKeywordDTO.KeywordId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileKeywordDTO.FileId" class="control-label"></label>
                <select asp-for="FileKeywordDTO.FileId" class="form-control" asp-items="ViewBag.FileId"></select>
                <span asp-validation-for="FileKeywordDTO.FileId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
