@page
@model ClientWeb.Pages.Keyword.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KeywordDTOList[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KeywordDTOList[0].Kword)
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.KeywordDTOList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kword)
            </td>

        </tr>
}
    </tbody>
</table>
