@page
@model ClientWeb.Pages.File.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>FileDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FileDTO.Path" class="control-label"></label>
                <input asp-for="FileDTO.Path" class="form-control" />
                <span asp-validation-for="FileDTO.Path" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileDTO.Created_at" class="control-label"></label>
                <input asp-for="FileDTO.Created_at" class="form-control" />
                <span asp-validation-for="FileDTO.Created_at" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileDTO.Type" class="control-label"></label>
                <input asp-for="FileDTO.Type" class="form-control" />
                <span asp-validation-for="FileDTO.Type" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="FileDTO.Path_changed" /> @Html.DisplayNameFor(model => model.FileDTO.Path_changed)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="FileDTO.Location" class="control-label"></label>
                <input asp-for="FileDTO.Location" class="form-control" />
                <span asp-validation-for="FileDTO.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
